.example-card {
  max-width: 600px;
  margin: auto;
  margin-top: 24px;
  border: 1px solid;
  border-radius: 25px;
}

.example-header-image {
  background-image: url('currents_api_logo.svg');
  background-size: cover;
}

.fixed-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%  !important;
 }

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

