@import url("app.component.css");

.example-card {
  max-width: 600px;
  margin: auto;
  margin-top: 24px;
  border: 1px solid;
  border-radius: 25px;
}

.example-header-image {
  background-image: url('currentsapi.logo.svg');
  background-size: cover;
}
