<ng-container *ngIf="output$ | async as output">
  <div class="example-container">
    <mat-form-field>
      <input matInput [value]="output.title" [disabled]="true">
        <mat-hint align="start">Title</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="output.apiKey" [disabled]="true">
        <mat-hint align="start">API Key</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="output.fetchingLatestNews" [disabled]="true">
        <mat-hint align="start">Fetching Latest News?</mat-hint>
    </mat-form-field>
  </div>
</ng-container>
